In [ ]:
Penyelesaian Naive Bayes data Numerik

Nama: Muhammad Sigit Tri Pamungkas
NIM: 11190910000013

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#memasukan data latih
datalatih = pd.read_excel("data training numerik.xlsx")
datalatih.head(15)

#cuaca = 0 == cerah 
#cuaca = 1 == mendung
#cuaca = 2 == hujan 

#angin = 0 == tidak
#angin = 1 == ada

    Cuaca  Temperatur  Kelembaban  Angin   Play
0       0          85          85      0  tidak
1       0          80          90      1  tidak
2       1          83          78      0     ya
3       2          70          96      0     ya
4       2          68          80      0     ya
5       2          65          70      1  tidak
6       1          64          65      1     ya
7       0          72          95      0  tidak
8       0          69          70      0     ya
9       2          75          80      0     ya
10      0          75          70      1     ya
11      1          72          90      1     ya
12      1          81          75      0     ya
13      2          71          80      1  tidak

In [2]:
datalatih.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Cuaca       14 non-null     int64
 1   Temperatur  14 non-null     int64
 2   Kelembaban  14 non-null     int64
 3   Angin       14 non-null     int64
 4   Play        14 non-null     object
dtypes: int64(4), object(1)
memory usage: 688.0+ bytes

In [3]:
x = datalatih.drop(["Play"], axis=1)
x.head(15)

    Cuaca  Temperatur  Kelembaban  Angin
0       0          85          85      0
1       0          80          90      1
2       1          83          78      0
3       2          70          96      0
4       2          68          80      0
5       2          65          70      1
6       1          64          65      1
7       0          72          95      0
8       0          69          70      0
9       2          75          80      0
10      0          75          70      1
11      1          72          90      1
12      1          81          75      0
13      2          71          80      1

In [4]:
y = datalatih["Play"]
y.head(15)

0     tidak
1     tidak
2        ya
3        ya
4        ya
5     tidak
6        ya
7     tidak
8        ya
9        ya
10       ya
11       ya
12       ya
13    tidak
Name: Play, dtype: object

In [11]:
from sklearn.model_selection import train_test_split
# Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB
# Mengaktifkan/memanggil/membuat fungsi klasifikasi Naive bayes
modelnb = GaussianNB()
# Memasukkan data training pada fungsi klasifikasi naive bayes
nbtrain = modelnb.fit(x, y)

In [12]:
datauji = pd.read_excel("data testing numerik.xlsx")
datauji.head(2)

   Cuaca  Temperatur  Kelembaban  Angin Play
0      0          73          80      0   ya

In [13]:
x_test = datauji.drop(["Play"], axis=1)
x_test.head(2)

   Cuaca  Temperatur  Kelembaban  Angin
0      0          73          80      0

In [14]:
y_uji = datauji["Play"]
y_uji.head(2)

0    ya
Name: Play, dtype: object

In [15]:
Y_predict = nbtrain.predict(x_test)
print("Prediksi Naive Bayes : ",Y_predict)

Prediksi Naive Bayes :  ['ya']

In [16]:
from sklearn.metrics import accuracy_score
accuracy= accuracy_score(y_uji, Y_predict)
print("Akurasi Naive Bayes : ",accuracy)

Akurasi Naive Bayes :  1.0

In [17]:
# Menghitung nilai akurasi dari klasifikasi naive bayes 
from sklearn.metrics import classification_report
print(classification_report(y_uji, Y_predict))

              precision    recall  f1-score   support

          ya       1.00      1.00      1.00         1

    accuracy                           1.00         1
   macro avg       1.00      1.00      1.00         1
weighted avg       1.00      1.00      1.00         1

In [ ]:
sumber: https://github.com/edy-kurniawan/naive-bayes-classifier-python